<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin tức</title>
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/tintuc.css">

    <!-- link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</head>

    <!-- header -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                    <div class="header__top">
                        <ul>
                            <li><button href="tel:19002003" style="border-radius:20px;background-color: rgb(10, 104, 10); border: none;" >
                                <i class="fa fa-phone" style="color: #ffffff;"></i>	<span style="color: #ffffff; padding: 10px;">1900 2003</span>
                                </button>
                            </li>
                            <li ><button  rel="tel:0284567890" style="border-radius:20px; background-color: rgb(243, 11, 11); border: none;">
                                <i class="fa fa-heart" style="color: #ffffff;"></i>	<span style="color: #ffffff;padding: 10px;">Cấp cứu (028) 456 7890</span>
                                </button>
                            </li>
                            <li><button href="tel:19002003" style="border-radius:20px;background-color: rgb(21, 176, 21); border: none;" >
                                <i class="fa fa-calendar" style="color: #ffffff;"></i>	<span style="color: #ffffff;padding: 10px;">Đặt lịch khám</span>
                                </button>
                            </li>
                            <li>
                                <a href="">Đăng nhập / </a>
                                <a href="">Đăng kí</a>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="container-fluid header__menu">
            <div class="row">
                <div class="col-lg-4 col-sm-3 " style="text-align: center; padding-bottom: 5px;">
                    <div class="header__img">
                        <img src="img/sang tao hospital.png" alt="" style="width: 300px;">
                    </div> 
                </div>
                <div class="col-lg-8 col-sm-3 ml-5">
                    <div class="header__right">
                        <div class="header__menu">
                            <ul>
                                <li><a href="index.php"><h5>TRANG CHỦ</h5></a></li>
                                <li><a href="index.php?url=chuyen-khoa"><h5>CHUYÊN KHOA</h5></a></li>
                                <li><a href=""><h5>BÁC SĨ</h5></a></li>
                                <li><a href=""><h5>DỊCH VỤ</h5></a>
                                    <ul class="dropdown">
                                        <li><a href="index.php?url=bang-gia-dich-vu">Bảng giá dịch vụ</a></li>
                                        <li><a href="">Quy trình nhập viện</a></li>
                                        <li><a href="">Quy trình xuất viện</a></li>
                                        <li><a href="">Liên hệ với chúng tôi</a></li>
                                    </ul>
                                </li>
                                <li><a href=""><h5>THÀNH TỰU</h5></a></li>
                                <li><a href="index.php?url=tin-tuc"><h5>TIN TỨC</h5></a></li>
                                <li><a href=""><h5>BỆNH NHÂN</h5></a>
                                    <ul class="dropdown">
                                        <li><a href="">Đặt lịch khám</a></li>
                                        <li><a href="">Tra cứu thông tin</a></li>
                                    </ul>
                                </li>
                            </ul>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

<body>
    <section class="section__tintuc container-fluid">
        <aside class="danhmuc__tintuc">
            <table class="table__danhsach">
                <thead>
                  <tr>
                    <th scope="col"><p>DANH MỤC</p></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Khoa Sản</td>
                  </tr>
                  <tr>
                    <td>Khoa Nội</td>
                  </tr>
                  <tr>
                    <td>Tim mạch</td>
                  </tr>
                  <tr>
                    <td>Chuyên khoa khác</td>
                  </tr>
                  <tr>
                    <td>Cảm nghĩ bệnh nhân</td>
                  </tr>
                </tbody>
              </table>
        </aside>
        <aside class="danhsach__tintuc">
            <div class="tin__tuc">
                <img src="./public/img/tintuc/tintuc1.jpg" alt="">
                <div id="noidung__tintuc">
                    <strong class="title__tintuc">Cụ bà 90 tuổi hồi phục ấn tượng sau phẫu thuật “2 trong 1” điều trị sỏi mật</strong>
                    <hr>
                    <p class="noidung__tintuc">Sau cuộc phẫu thuật “2 trong 1” kết hợp phẫu thuật nội soi cắt túi mật và phẫu thuật nội soi mật tụy ngược dòng lấy sỏi...</p>
                </div>
            </div>
            <div class="tin__tuc">
                <img src="./public/img/tintuc/tintuc2.jpg" alt="">
                <div id="noidung__tintuc">
                    <strong class="title__tintuc">Đau bụng sau ăn, không ngờ bị bóc tách động mạch mạc treo tràng trên hiếm gặp nguy hiểm tính mạng</strong>
                    <hr>
                    <p class="noidung__tintuc">Đau thường vị và đau quặn từng cơn sau khi ăn trưa khoảng 30 phút, nam bệnh nhân không ngờ mình bị bóc tách động mạch mạc...</p>
                </div>
            </div>
            <div class="tin__tuc">
                <img src="./public/img/tintuc/tintuc3.jpg" alt="">
                <div id="noidung__tintuc">
                    <strong class="title__tintuc">Lãnh đạo Bệnh viện Gia An 115 làm chủ tọa và báo cáo tại Hội nghị khoa học thường niên Hội Lọc máu Việt Nam</strong>
                    <hr>
                    <p class="noidung__tintuc">TS.BS. Nguyễn Đức Lộc – Phó Giám đốc kiêm Quyền Giám đốc điều hành Bệnh viện Gia An 115 – vừa làm chủ tọa và tham...</p>
                </div>
            </div>
        </aside>
    </section>
</body>

</body>
</html>