/* detail pay */
.detailThanhToan h3{
    text-align: center; 
    color: #009CFF; 
    padding: 10px;
}
.detailThanhToan .table-container {
    overflow-x: auto;
    margin-top: 20px;
}
.detailThanhToan table {
    width: 100%;
    border-collapse: collapse;
}
.detailThanhToan table, th, td {
    border: 1px solid #ddd;
}
.detailThanhToan th, td {
    padding: 10px;
    text-align: center;
}
.detailThanhToan th {
    background-color: #4A63E7;
    color: #fff;
}

.sumCost h5{
    float: right;
    padding: 20px;
    margin-right: 45px;
}

.detailThanhToan .d-flex.justify-content-end {
    margin-top: 90px; /* Tùy chỉnh khoảng cách trên nút */
    margin-left: 150px;
}
/* Bác sĩ */
/* Xem lịch hẹn */
.xemLichHen h3{
    text-align: center; 
    color: #009CFF; 
    padding: 10px;
}

.xemLichHen table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.xemLichHen table, th, td {
    border: 1px solid #ddd;
}
.xemLichHen th, td {
    padding: 10px;
    text-align: center;
}
.xemLichHen th {
    background-color: #4A63E7;
    color: #fff;
}
.xemLichHen .action-btn {
    background-color: #4A63E7;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
}
.xemLichHen .action-btn:hover {
    background-color: #3b51c8;
}

/* chi tiết xem lịch hẹn */
.detailXemLichHenKham h3{
    color: #009CFF; 
}
.detailXemLichHenKham .detailThongTin{
    margin-left: 100px;
}

.detailXemLichHenKham .detailKhoaKham{
    margin-right: 100px;
}

/* Trang xem bệnh nhân phụ trách */

#title_header{
    float: left;

}
strong{
    font-size: 20px;
}
#form__search{
    width: 270px;
    padding: 5px;
    height: 30px;
    margin-left: 400px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}
#form__search::placeholder{
    font-size: 15px;
    padding: 5px;
}
#btn__search img{
    width: 20px;
}
#btn__search{
    border: 0;
    background-color: transparent;
    margin-top: -3px;
}
#table__danhsach{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}
#table__danhsach .header{
    background-color: #009cff;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    border-radius: 8px 8px 0 0;
}
#table__danhsach .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

#table__danhsach button{
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#table__danhsach button>a{
    color: #ffffff;
}
#table__danhsach button:hover {
    background-color: #218838;
}
.col-stt{
    width: 30px;
}


/* Trang xem chi tiết bệnh nhân */
p>a{
    color: black;
    float: left;
    font-size: 15px;
    margin-top: -5px;
}

#thongtin__left{
    margin-top: 20px;
    width: 700px;
    height: 500px;
    margin-left: 20PX;
}
#thongtin__mabn{
    display: flex;
    float: left;
    width: 250px;
}
#thongtin__hoten{
    display: flex;
    float: left;
    margin-left: 150px;
    width: 250px;
}
#thongtin__ngaysinh{
    display: flex;
    float: left;
    width: 250px;
}
#thongtin__gioitinh{
    display: flex;
    float: left;
    margin-left: 150px;
    width: 250px;
}
#thongtin__diachi{
    display: flex;
    float: left;
    width: 700px;
}
#thongtin__ngaykham{
    display: flex;
    float: left;
    width: 250px;
}
#thongtin__tinhtrangbenh{
    display: flex;
    float: left;
    width: 700px;
}
#thongtin__chandoan{
    display: flex;
    float: left;
    width: 700px;
}
#thongtin__chandoan{
    display: flex;
    float: left;
    width: 700px;
}
#thongtin__kehoachdieutri{
    display: flex;
    margin-left: -22px;
    padding-top: 30px;
    width: 900px;
    height: auto;
}
#thongtin__lichsukhambenh{
    display: flex;
    padding-top: 20px;
    width: 700px;
    height: auto;
}
#thongtin__left span{
    font-weight: bold;
}
#thongtin__right{
    float: right;
    margin-left: 100px;
    margin-top: -500px;
    width: 250px;
    padding: 20px;
    height: 250px;
    border-left: 4px solid black;
}
#thongtin__right img{
    width: 130px;
}

    /* Tạo phiếu khám */
.taoPhieuKham .danhsach__thongtin span{
    font-weight: bold;

}
.taoPhieuKham #title_taophieukham{
    padding-bottom: 20px;
}
.taoPhieuKham #phieukham__mabn{
    width: 350px;

}
.taoPhieuKham #phieukham__mabn input{
    width: 150px;
    text-align: center;
    height: 24px;
}
.taoPhieuKham #phieukham__mabn input::placeholder{
    font-size: 14px;
    font-style: italic;
}
.taoPhieuKham #phieukham__hoten{
    display: flex;
    width: 300px;
    margin-top: -24px;
    margin-left: 450px;
}
#phieukham__ngaysinh{
    display: flex;
    width: 250px;
    margin-left: 40px;
    margin-top: 10px;
}
#phieukham__gioitinh{
    display: flex;
    width: 300px;
    margin-top: -38px;
    margin-left: 450px;
    margin-top: -20px;
}
#phieukham__sodienthoai{
    display: flex;
    width: 250px;
    margin-left: 39px;
    margin-top: -10px;
    margin-top: 10px;
}
#phieukham__diachi{
    display: flex;
    width: 450px;
    margin-top: -38px;
    margin-left: 450px;
    margin-top: -20px;
}
#phieukham__tinhtrangbenh{
    display: flex;
    margin-left: 33px;
    padding: 5px;
    margin-top: 20px;
}
#phieukham__tinhtrangbenh textarea{
    width: 600px; 
    height: 60px;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #f8f9fa;
    font-size: 16px; 
    color: #333; 
    resize: none; 
    transition: border-color 0.3s; 
    margin-left: 30px;
}
#phieukham__chandoan{
    display: flex;
    margin-left: 35px;
    padding: 5px;
    margin-top: 12px;
}
#phieukham__chandoan textarea{
    width: 600px; 
    height: 60px;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #f8f9fa;
    font-size: 16px; 
    color: #333; 
    resize: none; 
    transition: border-color 0.3s; 
    margin-left: 65px;
}
#phieukham__kehoachdieutri{
    display: flex;
    margin-left: 35px;
    padding: 5px;
    margin-top: 12px;
}
#phieukham__kehoachdieutri textarea{
    width: 600px; 
    height: 60px;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #f8f9fa;
    font-size: 16px; 
    color: #333; 
    resize: none; 
    transition: border-color 0.3s; 
    margin-left: 20px;
}
#phieukham__thuockedon{
    display: flex;
    margin-left: 35px;
    padding: 5px;
    margin-top: 12px;
}
#phieukham__thuockedon textarea{
    width: 600px; 
    height: 60px;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #f8f9fa;
    font-size: 16px; 
    color: #333; 
    resize: none; 
    transition: border-color 0.3s; 
    margin-left: 45px;
}
#phieukham__ghichu{
    display: flex;
    margin-left: 35px;
    padding: 5px;
    margin-top: 12px;
}
#phieukham__ghichu textarea{
    width: 600px; 
    height: 60px;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #f8f9fa;
    font-size: 16px; 
    color: #333; 
    resize: none; 
    transition: border-color 0.3s; 
    margin-left: 90px;
}
.danhsach__thongtin textarea::placeholder{
    padding: 5px;
    font-size: 14px;
    font-style: italic;
}
#btn__taophieukham {
    background-color: #009cff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
    margin-top: 20px;
}

#btn__taophieukham:hover {
    background-color: #008ae0; 

}

#btn__taophieukham:active {
    transform: translateY(0);
}

/* Thu ngân */
/* Thống kê doanh thu */
.thongKeDoanhThu h4{
    padding-bottom: 20px;
}
#title_header{
    float: left;
    font-size: 15px;

}
.thongKeDoanhThu  strong{
    font-size: 20px;
}
#form__search{
    width: 270px;
    padding: 5px;
    height: 30px;
    margin-left: 550px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}
#form__search::placeholder{
    font-size: 15px;
    padding: 5px;
}
#btn__search img{
    width: 20px;
}
#btn__search{
    border: 0;
    background-color: transparent;
    margin-top: -3px;
}
#chonngay
{
    width: 100px;
    height: 20px;
}

#table__danhsach{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    padding-bottom: 30px;
}
#table__danhsach .header{
    background-color: #009cff;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    border-radius: 8px 8px 0 0;
}
#table__danhsach .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.thongKeDoanhThu .col-stt{
    width: 30px;
}
#title__tongtien{
    width: 300px;
    display: flex;
    margin-top: -25px;
    margin-left: 680px;
}
#title__tongtien strong{
    font-size: 18px;
}
#title__tongtien p{
    font-weight: 100;
    font-size: 18px;
    float: right;
}
.btn__xuatbaocao{
    margin-left: -850px;
    width: 120px;
    font-size: 15px;
    margin-top: -20px;
}

